pkgbase = mattermost
	pkgdesc = Open source Slack-alternative in Golang and React
	pkgver = 9.0.1
	pkgrel = 1
	url = https://mattermost.com
	arch = x86_64
	license = AGPL
	license = Apache
	makedepends = git
	makedepends = go
	makedepends = jq
	makedepends = libpng
	makedepends = nodejs-lts-hydrogen
	makedepends = moreutils
	makedepends = npm
	makedepends = python
	depends = glibc
	optdepends = mariadb: SQL server storage
	optdepends = mmctl: CLI admin tool
	optdepends = percona-server: SQL server storage
	optdepends = postgresql: SQL server storage
	options = !lto
	backup = etc/webapps/mattermost/config.json
	source = https://github.com/mattermost/mattermost-server/archive/v9.0.1/mattermost-9.0.1.tar.gz
	source = mattermost.service
	source = mattermost.sysusers
	source = mattermost.tmpfiles
	sha256sums = 542c8b982cc8b9f0b35ff44e9d28b279725f7b22195aa2a7ca687d797e3a8ce7
	sha256sums = 9e73dc5e9ab9a95049352bd504fb4e0d6becbd5c715026d8c1df4f515d258b68
	sha256sums = f7bd36f6d7874f1345d205c6dcb79af1804362fc977a658db88951a172d1dfa0
	sha256sums = 8dfeee28655b91dc75aca2317846284013ac3d5a837d360eba9641e9fbcf3aa2

pkgname = mattermost
