pkgbase = mattermost
	pkgdesc = Open source Slack-alternative in Golang and React
	pkgver = 10.4.1
	pkgrel = 1
	url = https://mattermost.com
	arch = x86_64
	license = AGPL-3.0-only
	license = Apache-2.0
	makedepends = git
	makedepends = go
	makedepends = jq
	makedepends = libpng
	makedepends = nodejs-lts-iron
	makedepends = moreutils
	makedepends = npm
	makedepends = python
	depends = glibc
	source = https://github.com/mattermost/mattermost-server/archive/v10.4.1/mattermost-10.4.1.tar.gz
	source = mattermost.service
	source = mattermost.sysusers
	source = mattermost.tmpfiles
	sha256sums = b540ac5ad63839fa7902f09b375d2fdd4c5b09816c6f2125cbea7dc10081e4f9
	sha256sums = 9e73dc5e9ab9a95049352bd504fb4e0d6becbd5c715026d8c1df4f515d258b68
	sha256sums = f7bd36f6d7874f1345d205c6dcb79af1804362fc977a658db88951a172d1dfa0
	sha256sums = 8dfeee28655b91dc75aca2317846284013ac3d5a837d360eba9641e9fbcf3aa2

pkgname = mattermost
	optdepends = mariadb: SQL server storage
	optdepends = mmctl: CLI admin tool
	optdepends = percona-server: SQL server storage
	optdepends = postgresql: SQL server storage
	backup = etc/webapps/mattermost/config.json

pkgname = mmctl
